.container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
}

.main-module {
   display: flex;
   flex-direction: column;
   gap: 10px;
}
.module-container {
  display: flex;
  flex: 0.5;
  gap: 10px;
  transition: all 0.3s ease;
  justify-content: center; /* center for zoom effect */
}

.sub-container {
  flex: 1;
  height: 50vh;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform-origin: center center; /* scale from center */
}


.full-view {
  flex: 1 1 100%;
  width: 80%;
  height: 70vh; 
  z-index: 10;
  overflow: auto;
  position: relative;

  transform: scale(1); /* zoom in */
  box-shadow: 0 10px 40px rgba(0,0,0,0.3); /* optional for depth effect */
}

.hidden {
  display: none;
}
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 100;
  transition: background-color 0.2s ease;
}

.back-button:hover {
  background-color: #555;
}

.module-container.expanded {
  position: relative;
  cursor: none;
}
.sub-container.full-view{
  cursor:auto
}
.full-view {
  position: relative;
}
